{% extends 'themes/template.html.twig' %}

{% block main %}

<main>
    <div id="details" class="clearfix">
        <div id="client">
            <div class="to">Datos del emisor:</div>
            <h2 class="name">Reunión de Estudiantes de Ingenierías Técnicas y Superiores en Informática</h2>
            <div class="address">Ctra. N-II, km. 33,6. Politécnica S/N
                28.805 Alcalá de Henares (Madrid)</div>
            <div class="cif">G83299487</div>
            <p></p>
            <div class="to">Datos del socio:</div>
            <h2 class="name">{{ registration.taxdata.name }}</h2>
            <div class="address">
                {{ registration.taxdata.address }}<br>
                {{ registration.taxdata.city }} ({{ registration.taxdata.postcode }})
            </div>
            <div class="cif">{{ registration.taxdata.cif }}</div>
        </div>
        <div id="invoice">
            <h1>Factura número {{ participant.invoiceNumber }}</h1>
            <div class="date">Fecha: {{ registration.createdAt | date('d/m/Y') }}</div>
        </div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="no">#</th>
            <th class="desc">DESCRIPCIÓN</th>
            <th class="unit">PRECIO</th>
            <th class="total">TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="no">1</td>
            <td class="desc">
                <h3>{{ participant.ticket }}</h3>
                A la {{ registration.convention }}, a favor de:<br/> {{ participant }}
            </td>
            <td class="unit">{{ participant.ticket.price|number_format(2, ',') }}€</td>
            <td class="total">{{ participant.ticket.price|number_format(2, ',') }}€</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">SUBTOTAL</td>
            <td>{{ participant.ticket.price|number_format(2, ',') }}€</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">IVA 0%<sup>1</sup></td>
            <td>--</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1">TOTAL</td>
            <td>{{ participant.ticket.price|number_format(2, ',') }}€</td>
        </tr>
        </tfoot>
    </table>
</main>

{% endblock %}


{% block footer %}
    <p style="text-align: left;">
        <sup>1</sup>
        La Asociación está reconocida como entidad de carácter social según el artículo 20.1.12.
        de la Ley del Impuesto sobre el Valor Añadido (Ley 37/1992) y posee certificado de Hacienda
        de la exención de IVA (clave 5).
    </p>
    {{ parent() }}
{% endblock %}