{%  extends ":frontend:base.html.twig" %}
{% block content %}
    {% block options %}
    {% endblock %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-1"><i class="fa fa-bullhorn"></i></div>
                        <div class="col-md-10"><h3 class="box-title">Completa los siguientes datos</h3></div>
                    </div>
                </div><!-- /.box-header -->
                {{ form_start(form) }}
                <div class="box-body">
                    {{ form_widget(form) }}
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button action="submit" class="btn btn-success">Enviar</button>
                    <a href="{{ path('registration', {'code': convention.code}) }}" class="btn btn-danger">Cancelar</a>

                </div>
                {{ form_end(form) }}
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>
    {% block modal %}
    {% endblock %}


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}