{%  extends ":frontend:base.html.twig" %}
{% block content %}
    {% block options %}
    {% endblock %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'title.inscription_resume' | trans }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>{{ 'label.university' | trans }}:</strong> {{ registration.user.university }}</p>
                            <p><strong>{{ 'label.college' | trans }}:</strong> {{ registration.user.college }}</p>
                            <p><strong>{{ 'label.student_delegation' | trans }}:</strong> {{ registration.user.studentDelegation }}</p>
                            <p><strong>{{ 'label.certificate_data' | trans }}:</strong>
                            <ul>
                                <li>{{ 'label.name' | trans }}:</strong> {{ registration.name }}</li>
                                <li>{{ 'label.position' | trans }}:</strong> {{ registration.position }}</li>
                            </ul>
                            </p>
                            <p><strong>{{ 'label.taxdata' | trans }}:</strong>
                                <ul>
                                    <li><strong>{{ 'label.name' | trans }}:</strong> {{ registration.taxdata.name }}</li>
                                    <li><strong>{{ 'label.address' | trans }}:</strong> {{ registration.taxdata.address | nl2br }}</li>
                                    <li><strong>{{ 'label.city' | trans }}:</strong> {{ registration.taxdata.city }} ({{ registration.taxdata.postcode }})</li>
                                    <li><strong>{{ 'label.cif' | trans }}:</strong> {{ registration.taxdata.cif }}</li>
                                </ul>
                            </p>
                        </div>
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            {% block right_box %}
            {%  endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'title.inscriptions' | trans }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tbody><tr>
                                    <th>{{ 'label.name' | trans }}</th>
                                    <th>{{ 'label.last_name' | trans }}</th>
                                    <th>{{ 'label.dni' | trans }}</th>
                                    <th>{{ 'label.phone' | trans }}</th>
                                    <th>{{ 'label.inscription_type' | trans }}</th>
                                    <th>{{ 'label.actions' | trans }}</th>
                                </tr></tbody>
                                {% for inscription in registration.participants %}
                                    <tr>
                                        <td>{{ inscription.name }}</td>
                                        <td>{{ inscription.lastname }}</td>
                                        <td>{{ inscription.dni }}</td>
                                        <td>{{ inscription.phone }}</td>
                                        <td>{{ inscription.ticket.name|title }}</td>
                                        {% block column_action %}
                                       {% endblock %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
                <div class="box-footer">
                    {% block footer_box %}
                    {% endblock %}
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>


{% endblock %}