{%  extends ":frontend:base.html.twig" %}

{% import _self as forms %}

{% macro edit_button(value, to, open) %}
    {% set disabled = open ? '' : 'disabled' %}
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" id="{{ to }}" value="{{ value }}" readonly="readonly"/>
        <span class="input-group-btn">
          <a href="{{ url(to ~ '_edit') }}" class="btn btn-default btn-flat {{ disabled }}"><i class="fa fa-pencil"></i> {{ 'action.edit' | trans({}, 'actions') }}</a>
        </span>
    </div>
{% endmacro %}

{% block content %}
    {% block options %}
    {% endblock %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'title.inscription_resume' | trans }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="university">{{ 'label.university' | trans }}</label>
                                {{ forms.edit_button(registration.user.university, 'university', registration.open) }}
                            </div>

                            <div class="form-group">
                                <label for="college">{{ 'label.college' | trans }}</label>
                                {{ forms.edit_button(registration.user.college, 'college', registration.open) }}
                            </div>

                            <div class="form-group">
                                <label for="student_delegation">{{ 'label.student_delegation' | trans }}</label>
                                {{ forms.edit_button(registration.user.studentDelegation, 'student_delegation', registration.open) }}
                            </div>

                            <div class="form-group">
                                <label for="certificate_data">{{ 'label.certificate_data' | trans }}</label>
                                {{ forms.edit_button(registration.name, 'responsible', registration.open) }}
                            </div>

                            <div class="form-group">
                                <label for="taxdata">{{ 'label.taxdata' | trans }}</label>
                                {{ forms.edit_button(registration.taxdata.name, 'taxdata', registration.open) }}
                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            {% block right_box %}
            {%  endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ 'title.inscriptions' | trans }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <tbody><tr>
                                    <th>{{ 'label.name' | trans }}</th>
                                    <th>{{ 'label.last_name' | trans }}</th>
                                    <th>{{ 'label.dni' | trans }}</th>
                                    <th>{{ 'label.phone' | trans }}</th>
                                    <th>{{ 'label.inscription_type' | trans }}</th>
                                    <th>{{ 'label.actions' | trans }}</th>
                                </tr></tbody>
                                {% for participant in registration.participants %}
                                    <tr>
                                        <td>{{ participant.name }}</td>
                                        <td>{{ participant.lastname }}</td>
                                        <td>{{ participant.dni }}</td>
                                        <td>{{ participant.phone }}</td>
                                        <td>{{ participant.ticket.name|title }}</td>
                                        {% block column_action %}
                                       {% endblock %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
                <div class="box-footer">
                    {% block footer_box %}
                    {% endblock %}
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>


{% endblock %}