{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .main-header .logo {
            font-size: 17px;
        }
    </style>
<link rel="stylesheet" type="text/css"  href="{{ asset('bundles/app/css/style.css') }}"  />
{% endblock %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                {{ convention.slug }} - admin
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}

{% block side_bar_before_nav %}
    <ul class="sidebar-menu">
        <li>
            <a href="{{ url('convention') }}"><i class="fa fa-home"></i> Volver al frontend</a>
        </li>
    </ul>
{% endblock %}