{% extends ":frontend:base.html.twig"  %}
{% block content %}
{% block sonata_profile_content %}
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile" align="center">
                    <img class="profile-user-img img-responsive img-circle" src="{{ app.user.gravatar(150) }}" alt="User profile picture">

                    <h3 class="profile-username text-center">{{ app.user.firstName }}</h3>
                    <p class="text-muted text-center">{{ app.user.lastName }}</p>

                    <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i> {{ 'action.profile_edit' | trans }}</a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-9">
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'title.profile_data' | trans }}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-condensed table-responsive">
                    <thead><h4>{{ 'title.contact_data' | trans }}</h4></thead>
                    <tbody>
                        <dl class="dl-horizontal">
                            <dt>{{ 'label.name' | trans }}</dt>
                            <dd>{{ app.user.firstName }}</dd>
                            <dt>{{ 'label.last_name' | trans }}</dt>
                            <dd>{{ app.user.lastName }}</dd>
                            <dt>{{ 'label.email' | trans }}</dt>
                            <dd>{{ app.user.email }}</dd>
                            <dt>{{ 'label.phone' | trans }}</dt>
                            <dd>{{ app.user.phone }}</dd>
                            <dt>{{ 'label.web' | trans }}</dt>
                            <dd>{{ app.user.website }}</dd>
                        </dl>
                    </tbody>
                    </table>

                    <table class="table table-condensed table-responsive">
                    <thead><h4>{{ 'title.registration_data' | trans }}</h4></thead>
                    <tbody>
                        <dl class="dl-horizontal">
                            <dt>{{ 'label.university' | trans }}</dt>
                            <dd>{{ app.user.university }}</dd>
                            <dt>{{ 'label.college' | trans }}</dt>
                            <dd>{{ app.user.college }}</dd>
                            <dt>{{ 'label.student_delegation' | trans }}</dt>
                            <dd>{{ app.user.studentDelegation }}</dd>
                        </dl>
                    </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}
{% endblock %}